//HEALTH WILL AND CRINOS
div.health-will-crinos
  div.health-will
    div.health-container
      h4 Health
      +health-will-set("health", 10)
    div.willpower-container
      h4 Willpower
      +health-will-set("willpower", 10)
  div.crinos-stretch-box
    div.crinos-container
      h4 Crinos
        +health-will-set("crinos", 4)
