h2.category-title Renown

div.renown-container
  div.renown-value-wrapper
    button(type="roll" value=`!rollWerewolf glory ?{Modifier}`).large-roll-button Glory
    +button-set("glory", 5)
  div.renown-value-wrapper
    button(type="roll" value=`!rollWerewolf honor ?{Modifier}`).large-roll-button Honor
    +button-set("honor", 5)
  div.renown-value-wrapper
    button(type="roll" value=`!rollWerewolf wisdom ?{Modifier}`).large-roll-button Wisdom
    +button-set("wisdom", 5)
