h2.category-title Rolls
button(type="roll" value=`!rollWerewolf willpower_status_num`) Frenzy
button(type="roll" value=`!rollWerewolf frenzy ?{Modifier}`) Willpower


button(type="roll" value=`!rollWerewolf frenzy ?{Modifier}`).attribute-skill-roll Strength
