div.tab-selection
  button.tab-button(name="act_front" value="front-sheet") Front
  button.tab-button(name="act_back" value="back-sheet") Back
  button.tab-button(name="act_notes" value="notes-sheet") Notes
