// BACK DESCRIPTION
table.tenet-table
  thead
    tr
      th Chronicle Tenets
      th Touchstones
      th Favors &amp; Bans
  tbody
    tr
      td
        textarea.long-input(name="attr_tenets")
      td
        textarea.long-input(name="attr_touchstones")
      td
        textarea.long-input(name="attr_favors")
