include mixins.pug
include hidden_attributes.pug

h1.werewolf-title Werewolf
include components/_tenet-table.pug

// SPLIT
div.left-right-container
  include components/_left-side.pug
  include components/_right-side.pug

include roll_template.pug

script(type="text/worker")
  include sheetworkers.js
