include components/_description-table.pug

hr.sheet-seperator

include components/_attributes.pug
include components/_health-will-crinos.pug

hr.sheet-seperator

include components/_skills.pug

hr.sheet-seperator

include components/_renown.pug
include components/_gifts-rites.pug
include components/_rage.pug
include components/_rolls.pug
