input(type="hidden", name="attr_click_history" value=0)
input(type="hidden", name="attr_health_status" value='empty')
input(type="hidden", name="attr_willpower_status" value='empty')
input(type="hidden", name="attr_crinos_status" value='empty')

input(type="hidden", name="attr_willpower_status_num" value=0)
input(type="hidden", name="attr_health_status_num" value=0)
input(type="hidden", name="attr_crinos_status_num" value=0)
