input(type="hidden", name="attr_health_mod" value=0)
input(type="hidden", name="attr_willpower_mod" value=0)

input(type="hidden", name="attr_willpower_str", value="")
input(type="hidden", name="attr_health_str", value="[H][@][{}][•][X][ ][ ][ ][ ]")
