input(type="hidden", name="attr_click_history" value=0)
input(type="hidden", name="attr_health_status" value="{full: 0, scratch: 0, grievous: 0}")
input(type="hidden", name="attr_willpower_status" value="{full: 0, scratch: 0, grievous: 0}")
