mixin radio-button-set(attributeName, count)
  div.radio-button-set-wrapper
    label.radio-wrapper
      input.clearBtn(type="radio" name="attr_"+attributeName value="0")
      span.checkmark
    - for (let i = 1; i <= count; i++)
      label.radio-wrapper
        input(type="radio" name="attr_" + attributeName value=i)
        span.checkmark
