mixin radio-button-set(attributeName, count)
  div.radio-button-set-wrapper
    input.sheet-defaultRadioBox.remove-value-radio(type="radio" name="attr_" + attributeName value=0 "checked")
    span
    - for (let i = 1; i <= count; i++)
        input.sheet-defaultRadioBox(type="radio" name="attr_" + attributeName value=i)
        span
        span &nbsp;


mixin checkbox-set(attributeName, count)
  div.checkbox-set-wrapper
    - for (let i = 1; i <= count; i++)
      label
        input.sheet-defaultCheckbox(type="checkbox" name=`attr_${attributeName}_${i}` value=i)

mixin healthString(name)
  input.health-string(type="text" name="attr_"+name "readonly")
