rolltemplate.sheet-rolltemplate-werewolf-roll
  .sheet-werewolf-container
      div.roll-type-container {{type}}
      hr.sheet-seperator
      h3 Normal dice
      div.sheet-flex-wrapper
          div.sheet-dice-wrapper {{normalDice}}
      hr.sheet-seperator
      h3 Rage dice
      div.sheet-flex-wrapper
          div.sheet-dice-wrapper {{rageDice}}
      hr.sheet-seperator
      h3.sheet-success-title Successes: {{successes}}
      div.sheet-flex-wrapper.sheet-outcome-wrapper
        div.sheet-outcome-container {{outcomeImage}}
