rolltemplate.sheet-rolltemplate-werewolf-roll
  .sheet-werewolf-container
      h3.sheet-roll-title {{type}}
      hr.sheet-seperator
      h3 Normal dice
      div.sheet-flex-wrapper
          div.sheet-dice-wrapper {{normalDice}}
      hr.sheet-seperator
      h3 Rage dice
      div.sheet-flex-wrapper
          div.sheet-dice-wrapper {{rageDice}}
      hr.sheet-seperator
      h3.sheet-success-title Successes: {{successes}}
