rolltemplate.sheet-rolltemplate-werewolf-roll
  .sheet-template-container
    h2 Rolls: {{rolls}}
    h2 Successes: {{successes}}
    h2 Type: {{type}}
    h2 Outcome: {{outcome}}
    h2 Rage dice: {{rageDice}}
    h3 Normal dice: {{normalDice}}
