// TITLE

h1 Werewolf

// DESCRIPTION TABLE
- const character_descriptors = ["name", "concept", "patron", "chronicle", "auspices", "tribe"]

each word in character_descriptors
  div.description-box
    label.char-desc-label= word + ":"
    input(type='text' name=`attr_${word}`)

// ATTRIBUTES
- const attributes = {physical: ["strength", "dexterity", "stamina"], social: ["charisma", "manipulation", "composure"],  mental: ["intelligence", "wits", "resolve"] }

h2 Attributes
div.attribute-lists
each list, title in attributes
  h3 #{title}
  each attr in list
    p.attribute #{attr}
    // TODO: Radiobuttons
    input.clearBtn(type="button" name="attr_Resolve" value="0")

// TODO: Health, Willpower, Crinos
div.health-will-crinos
  div.health-container
    h4 Health
    p [][][][][]    [][][][][]
  div.willpower-container
    h4 Willpower
    p [][][][][]    [][][][][]
  div.crinos-container
    h4 Crinos
    p [][][][]

h2 Skills

- const skills = {left: ["athletics", "brawl", "craft", "driving", "firearms", "larceny", "melee", "stealth", "survival"], mid: ["animal ken", "etiquette","insight", "intimidation","leadership","performance", "persuasion", "streetwise", "subterfuge"], right: ["academics", "awareness", "finance", "investigation", "medicine", "occult", "politics", "science", "technology"]}
