@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Oswald&display=swap');

/*BORDER*/
.tab-content {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

/*TITLE*/
.werewolf-title {
    font-family: "Special Elite", cursive;
    text-align: center;
    margin-bottom: 25px;
    font-size: 50px;
}

.category-title, .list-title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.attribute, .skill {
    font-family: 'Cutive', serif;
    font-weight: 600;
    margin-bottom: 0;
}

/*DESCRIPTION TABLE*/

.char-desc-label {
    text-transform: capitalize;
    margin-bottom: 0;
}

.description-grid-wrapper {
    display: flex;
    justify-content: center;
}

.description-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 14px 18px;
    margin-bottom: 20px;
    max-width: 900px
}

.label-input-wrapper {
    display: flex;
}

.description-input {
    width: 135px;
    font-size: 1.05em;
    font-family: "Cutive", serif;
    text-align: center;
    height: 24px;
}

.label-input-wrapper input {
    border-bottom: solid 2px;
    border-radius: 5px;
}

.label-input-wrapper .char-desc-label {
    margin: 0;
}


/*ATTRIBUTES*/

.list-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.name-value-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px
}


.centering-border {
    border: solid 1px;
    position: relative;
    top: 25px;
    height: 80px;
}

.centering-border:last-of-type {
    display: none;
}

.health-will {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.name-roll-button-wrapper {
    display: flex;
    position: relative;
}

.roll-btn-wrapper {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

.attribute:hover + .roll-btn-wrapper {
    display:block;
}

.roll-btn-wrapper:hover {
    display:block;
}

/*HEALTH, WILLPOWER, CRINOS*/

.crinos-container {
    width: 120px;
    transform: rotate(-8deg)
}

/*SKILLS*/

.skill-flexbox {
    display:flex;
    justify-content: space-between;
}


.skill-value-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
}

/*RENOWN*/

.renown-container {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    padding: 5px 8px;
}
.renown-value-wrapper{
    display:flex;
    gap: 40px;
    align-items: center;
}

/*GIFTS & RITES*/


/*RAGE*/
.rage-value-wrapper {
    display: flex;
}

/*_______________________*/
/*PAGE 2*/
/*_______________________*/

/*SPLIT*/

.left-right-container {
    display: flex;
}

/*GENERAL*/
.health-string {
    font-size: 14pt;
    font-family: "Special Elite", cursive;
    font-weight: 900;
    text-shadow: 0.3px 0 0 currentColor;
}

input {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}


.char-desc-label {
    font-family: 'Special Elite', cursive;
}


/*DOT, CHECKBOX STYLING*/

.checkbox-set-wrapper {
    display: flex;
}

input.sheet-defaultCheckbox[type="checkbox"] {
  display: none;
}

.fake-checkbox {
  position: relative;
  border: 3px solid #000;
  border-radius: 20% 25% 15% 12%;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
}

input[type="checkbox"][value="empty"] + .fake-checkbox {
    background: white;
}

input[type="checkbox"][value="full"] + .fake-checkbox {
    background: green;
}

input[type="checkbox"][value="grievous"] + .fake-checkbox {
    background: red;
}

input[type="checkbox"][value="slash"] + .fake-checkbox {
    background: yellow;
}

input[type=checkbox]:checked + .fake-checkbox {
  background: #f00;
  color: #fff;
}

/* Hide actual dot/checkbox */
input.sheet-defaultRadioBox,
{
    position: absolute;
    opacity: 0;
    width: 19px;
    height: 22px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Styles common to fake dot and checkbox */
input.sheet-defaultRadioBox + span::before,
{
    border: solid 2px #3c3737;
    line-height: 14px;
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
}

/* Styles unique to fake dot (checked or left of checked) */
input.sheet-defaultRadioBox + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #3c3737;
}

/* Styles unique to fake checkbox (unchecked) */
input.sheet-defaultCheckBox + span::before
{
    position: relative;
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 3px;
}

/* Remove dot from all radios _after_ selected one */
input.sheet-defaultRadioBox:checked ~ input.sheet-defaultRadioBox + span::before
{
    background-color: white;
}

.remove-value-radio{
    display: none;
}

.remove-value-radio + span{
    display: none;
}
