/*DESCRIPTION TABLE*/

.char-desc-label {
    text-transform: capitalize;
    margin-bottom: 0;
}
.description-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: auto auto; /* 2 rows with automatic height */
    gap: 10px; /* Gap between grid items */
}
.label-input-wrapper {
    display: flex;
}

.label-input-wrapper input {
    border-bottom: solid 2px;
    border-radius: 5px;
}

.label-input-wrapper .char-desc-label {
    margin: 0;
}


/*ATTRIBUTES*/

.list-container {
    display: flex;
}

.name-value-wrapper {
    display: flex;
    gap: 10px
}
.health-will {
    display: flex;
}

.name-roll-button-wrapper {
    display: flex;
    position: relative;
}

.roll-btn-wrapper {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

.attribute:hover + .roll-btn-wrapper {
    display:block;
}

.roll-btn-wrapper:hover {
    display:block;
}

/*SKILLS*/

.skill-flexbox {
    display:flex;
}
.skill-value-wrapper {
    display:flex;
    align-items: center;
    gap: 10px;
}

/*RENOWN*/

.renown-container {
    display: flex;
}
.renown-value-wrapper{
    display:flex;
}

/*GIFTS & RITES*/


/*RAGE*/
.rage-value-wrapper {
    display: flex;
}

/*_______________________*/
/*PAGE 2*/
/*_______________________*/

/*SPLIT*/

.left-right-container {
    display: flex;
}

/*GENERAL*/
.health-string {
    font-size: 14pt;
    font-family: "Special Elite", cursive;
    font-weight: 900;
    text-shadow: 0.3px 0 0 currentColor;
}

input {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

input:focus {
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.char-desc-label {
    font-family: 'Special Elite', cursive;
}


/*DOT, CHECKBOX STYLING*/

/* Hide actual dot/checkbox */
input.sheet-defaultRadioBox,
input.sheet-defaultCheckBox
{
    position: absolute;
    opacity: 0;
    width: 19px;
    height: 22px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Styles common to fake dot and checkbox */
input.sheet-defaultRadioBox + span::before,
input.sheet-defaultCheckBox + span::before
{
    border: solid 2px #3c3737;
    line-height: 14px;
    text-align: middle;
    display: inline-block;
    vertical-align: middle;
}

/* Styles unique to fake dot (checked or left of checked) */
input.sheet-defaultRadioBox + span::before
{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #3c3737;
}

/* Styles unique to fake checkbox (unchecked) */
input.sheet-defaultCheckBox + span::before
{
    position: relative;
    content: "";
    width: 14px;
    height: 14px;
    font-size: 12px;
    border-radius: 3px;
}

/* Remove dot from all radios _after_ selected one */
input.sheet-defaultRadioBox:checked ~ input.sheet-defaultRadioBox + span::before
{
    background-color: white;
}

.remove-value-radio{
    display: none;
}

.remove-value-radio + span{
    display: none;
}
